html, body {
    height: 100%; /* set the height of the html and body elements to 100% */
    
  }
  
  .box {
    position: absolute;
    width: 50px;
    height: 50px;
  }

  #move-me-1 {
    background-color: blue;
  }

  #move-me-2 {
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
  }

a{
    left: 500px;
    position: relative;
}

